pkgbase = libretro-desmume-git
	pkgdesc = Nintendo DS core
	pkgver = r6318.c5a899af
	pkgrel = 1
	url = https://github.com/libretro/desmume
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libretro-core-info
	depends = libgl
	provides = libretro-desmume
	conflicts = libretro-desmume
	source = libretro-desmume::git+https://github.com/libretro/desmume.git
	sha256sums = SKIP

pkgname = libretro-desmume-git

