pkgbase = snes9x-git
	pkgdesc = A SNES emulator
	pkgver = 1.53.r281.dfe3925
	pkgrel = 1
	url = http://www.snes9x.com/
	arch = i686
	arch = x86_64
	license = custom
	license = GPL2
	license = LGPL2.1
	makedepends = git
	makedepends = gtk3
	makedepends = intltool
	makedepends = libpulse
	makedepends = libsm
	makedepends = libxv
	makedepends = mesa
	makedepends = nasm
	makedepends = portaudio
	makedepends = sdl
	depends = gcc-libs
	depends = libpng
	depends = libx11
	depends = libxext
	depends = zlib
	source = git://github.com/snes9xgit/snes9x.git
	sha256sums = SKIP

pkgname = snes9x-git
	depends = gcc-libs
	depends = libpng
	depends = libx11
	depends = libxext
	depends = zlib
	depends = libice
	depends = libsm
	provides = snes9x
	conflicts = snes9x

pkgname = snes9x-gtk-git
	install = snes9x.install
	depends = gcc-libs
	depends = libpng
	depends = libx11
	depends = libxext
	depends = zlib
	depends = alsa-lib
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgl
	depends = libpulse
	depends = libxml2
	depends = libxrandr
	depends = libxv
	depends = pango
	depends = portaudio
	depends = sdl
	provides = snes9x-gtk
	conflicts = snes9x-gtk

