pkgbase = x264-git
	pkgver = r2582.57031da
	pkgrel = 1
	url = http://www.videolan.org/developers/x264.html
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = ffms2
	makedepends = git
	makedepends = l-smash
	makedepends = yasm
	source = git://git.videolan.org/x264/x264-sandbox.git#branch=stable
	md5sums = SKIP

pkgname = x264-git
	pkgdesc = CLI tools for encoding H264/AVC video streams.
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libffms2.so
	depends = liblsmash.so
	provides = x264
	conflicts = x264

pkgname = libx264-git
	pkgdesc = Library for encoding H264/AVC video streams.
	depends = glibc
	provides = libx264
	provides = libx264.so
	conflicts = libx264

pkgname = libx264-10bit-git
	pkgdesc = Library for encoding H264/AVC video streams.
	depends = glibc
	provides = libx264
	provides = libx264.so
	conflicts = libx264

