pkgbase = switchboard-plug-useraccounts
	pkgdesc = User Accounts plug for Switchboard
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/elementary/switchboard-plug-useraccounts
	arch = i686
	arch = x86_64
	groups = pantheon
	license = GPL3
	makedepends = cmake
	makedepends = switchboard
	makedepends = vala
	depends = accountsservice
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-desktop
	depends = gtk3
	depends = libgee
	depends = libpwquality
	depends = polkit
	depends = libgranite.so
	depends = libswitchboard-2.0.so
	depends = gobject-introspection
	source = switchboard-plug-useraccounts-0.1.5.tar.gz::https://github.com/elementary/switchboard-plug-useraccounts/archive/0.1.5.tar.gz
	sha512sums = 21b11bfaa2ed7031d6bdedde713c1c480b45ce28b7e57bf80cb52e611b4da89a1cb7609a03b521e1c80334b69dd2e3d45174d667cbce92ce7930731c57e5da98

pkgname = switchboard-plug-useraccounts

