.AURINFO
.SRCINFO
*.asc
*.deb
*.gem
*.info
*.log
*.pkg.tar.xz
*.rpm
*.run
*.src.tar.gz
*.sig
*.spk
*.swp
*.tar.bz2
*.tar.gz
*.tar.xz
*.tgz
*.zip
build/
log/
src/
srcpkg/
pkg/
community/
packages/
*/*/nvidia
*/*/vboxhost
*/*/*/
