[submodule "unsupported-aur4/aegisub-git"]
	path = unsupported-aur4/aegisub-git
	url = ssh://aur@aur4.archlinux.org/aegisub-git.git
[submodule "unsupported-aur4/asmjit-git"]
	path = unsupported-aur4/asmjit-git
	url = ssh://aur@aur4.archlinux.org/asmjit-git.git
[submodule "unsupported-aur4/bamf-bzr"]
	path = unsupported-aur4/bamf-bzr
	url = ssh://aur@aur4.archlinux.org/bamf-bzr.git
[submodule "unsupported-aur4/bbswitch-hook"]
	path = unsupported-aur4/bbswitch-hook
	url = ssh://aur@aur4.archlinux.org/bbswitch-hook.git
[submodule "unsupported-aur4/beat"]
	path = unsupported-aur4/beat
	url = ssh://aur@aur4.archlinux.org/beat.git
[submodule "unsupported-aur4/cairo-dock-git"]
	path = unsupported-aur4/cairo-dock-git
	url = ssh://aur@aur4.archlinux.org/cairo-dock-git.git
[submodule "unsupported-aur4/cairo-dock-plug-ins-git"]
	path = unsupported-aur4/cairo-dock-plug-ins-git
	url = ssh://aur@aur4.archlinux.org/cairo-dock-plug-ins-git.git
[submodule "unsupported-aur4/cups-bjnp"]
	path = unsupported-aur4/cups-bjnp
	url = ssh://aur@aur4.archlinux.org/cups-bjnp.git
[submodule "unsupported-aur4/dolphin-emu-git"]
	path = unsupported-aur4/dolphin-emu-git
	url = ssh://aur@aur4.archlinux.org/dolphin-emu-git.git
[submodule "unsupported-aur4/firewalld-git"]
	path = unsupported-aur4/firewalld-git
	url = ssh://aur@aur4.archlinux.org/firewalld-git.git
[submodule "unsupported-aur4/geary-devel"]
	path = unsupported-aur4/geary-devel
	url = ssh://aur@aur4.archlinux.org/geary-devel.git
[submodule "unsupported-aur4/gens-gs-ii-git"]
	path = unsupported-aur4/gens-gs-ii-git
	url = ssh://aur@aur4.archlinux.org/gens-gs-ii-git.git
[submodule "unsupported-aur4/kodi-devel"]
	path = unsupported-aur4/kodi-devel
	url = ssh://aur@aur4.archlinux.org/kodi-devel.git
[submodule "unsupported-aur4/lightdm-bzr"]
	path = unsupported-aur4/lightdm-bzr
	url = ssh://aur@aur4.archlinux.org/lightdm-bzr.git
[submodule "unsupported-aur4/lightdm-devel"]
	path = unsupported-aur4/lightdm-devel
	url = ssh://aur@aur4.archlinux.org/lightdm-devel.git
[submodule "unsupported-aur4/lightdm-gtk-greeter-bzr"]
	path = unsupported-aur4/lightdm-gtk-greeter-bzr
	url = ssh://aur@aur4.archlinux.org/lightdm-gtk-greeter-bzr.git
[submodule "unsupported-aur4/lightdm-gtk-greeter-devel"]
	path = unsupported-aur4/lightdm-gtk-greeter-devel
	url = ssh://aur@aur4.archlinux.org/lightdm-gtk-greeter-devel.git
[submodule "unsupported-aur4/light-locker-git"]
	path = unsupported-aur4/light-locker-git
	url = ssh://aur@aur4.archlinux.org/light-locker-git.git
[submodule "unsupported-aur4/l-smash"]
	path = unsupported-aur4/l-smash
	url = ssh://aur@aur4.archlinux.org/l-smash.git
[submodule "unsupported-aur4/lutris"]
	path = unsupported-aur4/lutris
	url = ssh://aur@aur4.archlinux.org/lutris.git
[submodule "unsupported-aur4/lutris-git"]
	path = unsupported-aur4/lutris-git
	url = ssh://aur@aur4.archlinux.org/lutris-git.git
[submodule "unsupported-aur4/numix-bevel-icon-theme-git"]
	path = unsupported-aur4/numix-bevel-icon-theme-git
	url = ssh://aur@aur4.archlinux.org/numix-bevel-icon-theme-git.git
[submodule "unsupported-aur4/numix-circle-icon-theme-git"]
	path = unsupported-aur4/numix-circle-icon-theme-git
	url = ssh://aur@aur4.archlinux.org/numix-circle-icon-theme-git.git
[submodule "unsupported-aur4/numix-icon-theme-git"]
	path = unsupported-aur4/numix-icon-theme-git
	url = ssh://aur@aur4.archlinux.org/numix-icon-theme-git.git
[submodule "unsupported-aur4/numix-themes-git"]
	path = unsupported-aur4/numix-themes-git
	url = ssh://aur@aur4.archlinux.org/numix-themes-git.git
[submodule "unsupported-aur4/nvidia-hook"]
	path = unsupported-aur4/nvidia-hook
	url = ssh://aur@aur4.archlinux.org/nvidia-hook.git
[submodule "unsupported-aur4/pcsxr-svn"]
	path = unsupported-aur4/pcsxr-svn
	url = ssh://aur@aur4.archlinux.org/pcsxr-svn.git
[submodule "unsupported-aur4/plank-bzr"]
	path = unsupported-aur4/plank-bzr
	url = ssh://aur@aur4.archlinux.org/plank-bzr.git
[submodule "unsupported-aur4/plank-theme-numix"]
	path = unsupported-aur4/plank-theme-numix
	url = ssh://aur@aur4.archlinux.org/plank-theme-numix.git
[submodule "unsupported-aur4/plex-media-server"]
	path = unsupported-aur4/plex-media-server
	url = ssh://aur@aur4.archlinux.org/plex-media-server.git
[submodule "unsupported-aur4/plymouth-theme-numix-bzr"]
	path = unsupported-aur4/plymouth-theme-numix-bzr
	url = ssh://aur@aur4.archlinux.org/plymouth-theme-numix-bzr.git
[submodule "unsupported-aur4/ppsspp-git"]
	path = unsupported-aur4/ppsspp-git
	url = ssh://aur@aur4.archlinux.org/ppsspp-git.git
[submodule "unsupported-aur4/pyanimenc-git"]
	path = unsupported-aur4/pyanimenc-git
	url = ssh://aur@aur4.archlinux.org/pyanimenc-git.git
[submodule "unsupported-aur4/rbutil-git"]
	path = unsupported-aur4/rbutil-git
	url = ssh://aur@aur4.archlinux.org/rbutil-git.git
[submodule "unsupported-aur4/reicast"]
	path = unsupported-aur4/reicast
	url = ssh://aur@aur4.archlinux.org/reicast.git
[submodule "unsupported-aur4/rhythmbox-plugin-alternative-toolbar-git"]
	path = unsupported-aur4/rhythmbox-plugin-alternative-toolbar-git
	url = ssh://aur@aur4.archlinux.org/rhythmbox-plugin-alternative-toolbar-git.git
[submodule "unsupported-aur4/rpcs3-git"]
	path = unsupported-aur4/rpcs3-git
	url = ssh://aur@aur4.archlinux.org/rpcs3-git.git
[submodule "unsupported-aur4/taskjuggler3-git"]
	path = unsupported-aur4/taskjuggler3-git
	url = ssh://aur@aur4.archlinux.org/taskjuggler3-git.git
[submodule "unsupported-aur4/tlp-git"]
	path = unsupported-aur4/tlp-git
	url = ssh://aur@aur4.archlinux.org/tlp-git.git
[submodule "unsupported-aur4/vapoursynth-editor"]
	path = unsupported-aur4/vapoursynth-editor
	url = ssh://aur@aur4.archlinux.org/vapoursynth-editor.git
[submodule "unsupported-aur4/vbam-svn"]
	path = unsupported-aur4/vbam-svn
	url = ssh://aur@aur4.archlinux.org/vbam-svn.git
[submodule "unsupported-aur4/vboxguest-hook"]
	path = unsupported-aur4/vboxguest-hook
	url = ssh://aur@aur4.archlinux.org/vboxguest-hook.git
[submodule "unsupported-aur4/vboxhost-hook"]
	path = unsupported-aur4/vboxhost-hook
	url = ssh://aur@aur4.archlinux.org/vboxhost-hook.git
[submodule "unsupported-aur4/vhba-dkms"]
	path = unsupported-aur4/vhba-dkms
	url = ssh://aur@aur4.archlinux.org/vhba-dkms.git
[submodule "unsupported-aur4/vhba-hook"]
	path = unsupported-aur4/vhba-hook
	url = ssh://aur@aur4.archlinux.org/vhba-hook.git
[submodule "unsupported-aur4/yuicompressor-git"]
	path = unsupported-aur4/yuicompressor-git
	url = ssh://aur@aur4.archlinux.org/yuicompressor-git.git
