pkgbase = libretro-reicast-git
	pkgdesc = Sega Dreamcast core
	pkgver = r3631.34f5ec60
	pkgrel = 1
	url = https://github.com/libretro/reicast-emulator
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	makedepends = libglvnd
	depends = libgl
	depends = libretro-core-info
	provides = libretro-reicast
	conflicts = libretro-reicast
	source = libretro-reicast::git+https://github.com/libretro/reicast-emulator.git
	sha256sums = SKIP

pkgname = libretro-reicast-git

