[Desktop Entry]
Name=Dropbox
GenericName=Network Storage
Comment=Dropbox keeps your files safe, synced, and easy to share
Exec=dropbox
Icon=dropbox
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
