pkgbase = cerbere
	pkgdesc = The Pantheon Watchdog
	pkgver = 0.2.2
	pkgrel = 1
	url = https://launchpad.net/cerbere
	arch = i686
	arch = x86_64
	groups = pantheon
	license = GPL2
	makedepends = cmake
	makedepends = vala
	makedepends = git
	depends = dconf
	depends = libgee
	source = git+https://github.com/elementary/cerbere.git#commit=07d836acce7898af449f80a2c8694f3b471fee1d
	sha512sums = SKIP

pkgname = cerbere

