pkgbase = gtk-theme-elementary
	pkgdesc = elementary GTK theme
	pkgver = 5.4.0
	pkgrel = 1
	url = https://github.com/elementary/stylesheet
	arch = any
	groups = pantheon
	license = GPL3
	makedepends = git
	makedepends = meson
	optdepends = gtk-engine-murrine: GTK2 theme
	source = gtk-theme-elementary::git+https://github.com/elementary/stylesheet.git#tag=bf51ea2d201f57b2dde62ef423ceb1e713b9fe98
	sha256sums = SKIP

pkgname = gtk-theme-elementary

