pkgbase = libretro-parallel-n64-git
	pkgdesc = Nintendo 64 core
	pkgver = r5044.017d864a
	pkgrel = 1
	url = https://github.com/libretro/parallel-n64
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libgl
	depends = libretro-core-info
	provides = libretro-parallel-n64
	conflicts = libretro-parallel-n64
	source = libretro-parallel-n64::git+https://github.com/libretro/parallel-n64.git
	sha256sums = SKIP

pkgname = libretro-parallel-n64-git

