pkgbase = tlp-git
	pkgver = 0.7.r41.6f7bca9
	pkgrel = 1
	url = http://linrunner.de/en/tlp/docs/tlp-linux-advanced-power-management.html
	arch = any
	license = GPL2
	license = GPL3
	makedepends = git
	source = tlp::git+https://github.com/linrunner/TLP.git#branch=devel
	source = 0001-Modify-hardcoded-paths-via-Makefile.patch
	source = 0002-Add-un-install-rule-for-manpages.patch
	source = 0003-Use-TLP_PLIB-in-tlp-nop.patch
	sha256sums = SKIP
	sha256sums = f3e49ebb857197678e265d4b5c9bd42780ea65530ea73a670c9d04c8210b3dde
	sha256sums = 4424a21668586d34c76dd42b56d0469e881629e99ebfce6ad1c3fe07cb26b1c7
	sha256sums = ae21a2e8ee11bc316fe246ff7b10f01d7003fddd02037befac1b0d07dbefccee

pkgname = tlp-git
	pkgdesc = Linux Advanced Power Management
	depends = hdparm
	depends = iw
	depends = pciutils
	depends = rfkill
	depends = usbutils
	depends = util-linux
	optdepends = acpi_call: Sandy Bridge and newer ThinkPad battery functions
	optdepends = ethtool: Disable Wake On Lan
	optdepends = lsb-release: Display LSB release version in tlp-stat
	optdepends = smartmontools: Display S.M.A.R.T. data in tlp-stat
	optdepends = tp_smapi: ThinkPad battery functions
	optdepends = x86_energy_perf_policy: Set energy versus performance policy on x86 processors
	provides = tlp
	conflicts = laptop-mode-tools
	conflicts = pm-utils
	conflicts = tlp
	backup = etc/default/tlp

pkgname = tlp-rdw-git
	pkgdesc = Linux Advanced Power Management - Radio Device Wizard
	depends = networkmanager
	depends = tlp
	provides = tlp-rdw
	conflicts = tlp-rdw

