pkgbase = elementary-icon-theme-git
	pkgdesc = Named, vector icons for elementary OS
	pkgver = r2173.b7716139
	pkgrel = 1
	url = https://github.com/elementary/icons
	arch = any
	groups = pantheon-unstable
	license = GPL3
	makedepends = cmake
	makedepends = git
	depends = gtk-update-icon-cache
	depends = hicolor-icon-theme
	provides = elementary-icon-theme
	conflicts = elementary-icon-theme
	options = !emptydirs
	source = elementary-icon-theme::git+https://github.com/elementary/icons.git
	sha256sums = SKIP

pkgname = elementary-icon-theme-git

