pkgbase = libretro-melonds-git
	pkgdesc = Nintendo DS core
	pkgver = r562.be721c9
	pkgrel = 1
	url = https://github.com/libretro/melonDS
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libretro-core-info
	provides = libretro-melonds
	conflicts = libretro-melonds
	source = libretro-melonds::git+https://github.com/libretro/melonDS.git
	sha256sums = SKIP

pkgname = libretro-melonds-git

