pkgbase = cerbere-git
	pkgdesc = The Pantheon Watchdog
	pkgver = r112.6ef09f2
	pkgrel = 1
	url = https://github.com/elementary/cerbere
	arch = x86_64
	groups = pantheon-unstable
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = vala
	depends = dconf
	depends = glib2
	depends = glibc
	depends = libgee
	provides = cerbere
	conflicts = cerbere
	replaces = cerbere-bzr
	source = git+https://github.com/elementary/cerbere.git
	sha256sums = SKIP

pkgname = cerbere-git

