pkgbase = pantheon-default-settings-git
	pkgver = r340.09ae797
	pkgrel = 1
	url = https://github.com/elementary/default-settings
	arch = any
	groups = pantheon-unstable
	license = GPL
	makedepends = git
	source = pantheon-default-settings::git+https://github.com/elementary/default-settings.git#branch=meson
	source = 0001-arch-tweaks.patch
	sha256sums = SKIP
	sha256sums = 778bd3cf1c3c2f52e01eb19c6aeca4fa42b29b3244af9d4651f056c5ac3bbecf

pkgname = elementary-dpms-helper-git
	pkgdesc = DPMS helper for Pantheon
	depends = gnome-settings-daemon
	provides = elementary-dpms-helper
	provides = pantheon-dpms-helper-git
	conflicts = elementary-dpms-helper
	conflicts = pantheon-dpms-helper

pkgname = pantheon-default-settings-git
	pkgdesc = Default settings for Pantheon
	depends = elementary-icon-theme-git
	depends = gtk-theme-elementary-git
	depends = elementary-wallpapers-git
	depends = ttf-droid
	depends = ttf-opensans
	provides = pantheon-default-settings
	conflicts = pantheon-default-settings

