pkgbase = wingpanel
	pkgdesc = The Pantheon Top Panel
	pkgver = 2.0.3
	pkgrel = 2
	url = https://github.com/elementary/wingpanel
	arch = i686
	arch = x86_64
	groups = pantheon
	license = GPL3
	makedepends = cmake
	makedepends = gala
	makedepends = vala
	depends = clutter
	depends = cogl
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libgee
	depends = libgala.so
	depends = libgranite.so
	depends = mutter
	provides = libwingpanel-2.0.so
	source = wingpanel-2.0.3.tar.gz::https://github.com/elementary/wingpanel/archive/2.0.3.tar.gz
	sha512sums = 4f42ed52b6e95f2db2cf1bf02817102d76814de5a8d16cfbcd4d0551190726d82c658ae0918d021dd95a10462168810398da88f678735d8a93c0ccdcfa1ecc71

pkgname = wingpanel

