pkgbase = home-assistant
	pkgdesc = Open source home automation that puts local control and privacy first
	pkgver = 0.96.0
	pkgrel = 1
	url = https://home-assistant.io/
	arch = any
	license = APACHE
	makedepends = git
	makedepends = python-setuptools
	depends = python
	depends = python-aiohttp
	depends = python-astral
	depends = python-async-timeout
	depends = python-attrs
	depends = python-bcrypt
	depends = python-certifi
	depends = python-cryptography
	depends = python-importlib-metadata
	depends = python-jinja
	depends = python-pyjwt
	depends = python-pip
	depends = python-pytz
	depends = python-requests
	depends = python-ruamel-yaml
	depends = python-slugify
	depends = python-voluptuous
	depends = python-voluptuous-serialize
	depends = python-yaml
	optdepends = net-tools: necessary for nmap discovery
	source = git+https://github.com/home-assistant/home-assistant.git#tag=0.96.0
	source = home-assistant.service
	source = home-assistant.sysusers
	source = home-assistant.tmpfiles
	sha512sums = SKIP
	sha512sums = fe96bd3df3ba666fd9f127c466d1dd1dd7314db2e57826a2b319c8a0bfad7aedeac398e748f93c6ecd9c2247ebbae196b8b0e7263b8681e2b7aeab6a8bfeab80
	sha512sums = 100665ac35370c3ccec65d73521568de21cebf9e46af364124778861c94e338e32ad9abb675d3917f97d351dd7867e3ab2e80c26616330ae7cf0d9dc3f13369b
	sha512sums = 3e93118c84954f829767dc71ce534c5d02c1c95fc8748714c7a2df28a3a297f59962f8fb7cddf721987eb97d62feabb25acda5d38209e365646ca4a4ef4356e3

pkgname = home-assistant

