[Desktop Entry]
Version=1.0
Type=Application
Name=Dolphin
Categories=Game;Emulator;GTK;
GenericName=GameCube and Wii Emulator
Comment=An emulator for the GameCube and Wii consoles
Exec=/usr/bin/dolphin-emu
Icon=/usr/share/icons/dolphin-emu.png
StartupNotify=false
Name[en_US]=Dolphin
