pkgbase = pantheon-applications-menu
	pkgdesc = The Pantheon Application Menu
	pkgver = 2.1.3.p1
	pkgrel = 1
	url = https://github.com/elementary/applications-menu
	arch = i686
	arch = x86_64
	groups = pantheon
	license = GPL3
	makedepends = cmake
	makedepends = granite
	makedepends = switchboard
	makedepends = vala
	makedepends = wingpanel
	depends = appstream
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gnome-menus
	depends = gtk3
	depends = json-glib
	depends = libgee
	depends = libsoup
	depends = plank
	depends = zeitgeist
	depends = libgranite.so
	depends = libswitchboard-2.0.so
	depends = libwingpanel-2.0.so
	conflicts = slingshot-launcher
	replaces = slingshot-launcher-bzr
	source = pantheon-applications-menu-f2a9e64796c8fc9c5619d37f72867797717b7d04.tar.gz::https://github.com/elementary/applications-menu/archive/f2a9e64796c8fc9c5619d37f72867797717b7d04.tar.gz
	sha512sums = 1901b2f16cd615791ba9f32e1986f2d3c253d32a7b67a3f73c87cb7cc2a2a89e3dd4dbf07309931ddae6748ac64c306a33147dbe88609652b2ecc30792b1ae1f

pkgname = pantheon-applications-menu

