pkgbase = libretro-beetle-psx-git
	pkgdesc = Sony playStation core
	pkgver = r2205.18a9de1
	pkgrel = 1
	url = https://github.com/libretro/beetle-psx-libretro
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	makedepends = libglvnd
	makedepends = mesa
	depends = libretro-core-info
	source = libretro-beetle-psx::git+https://github.com/libretro/beetle-psx-libretro.git
	sha256sums = SKIP

pkgname = libretro-beetle-psx-git
	provides = libretro-beetle-psx
	conflicts = libretro-beetle-psx

pkgname = libretro-beetle-psx-hw-git
	depends = libretro-core-info
	depends = libgl
	provides = libretro-beetle-psx-hw
	conflicts = libretro-beetle-psx-hw

