pkgbase = elementary-wallpapers-git
	pkgdesc = Collection of wallpapers for elementary OS
	pkgver = r124.47b25c2
	pkgrel = 1
	url = https://github.com/elementary/wallpapers
	arch = any
	groups = pantheon-unstable
	license = GPL3
	makedepends = git
	makedepends = meson
	provides = elementary-wallpapers
	conflicts = elementary-wallpapers
	source = elementary-wallpapers::git+https://github.com/elementary/wallpapers.git
	source = elementary-wallpapers-install-path.patch
	sha256sums = SKIP
	sha256sums = c6d599f649a35ae386b422c2fa061d441495999f664da31f22021d6dcea133aa

pkgname = elementary-wallpapers-git

