pkgbase = libretro-mgba-git
	pkgdesc = Nintendo Game Boy Advance core
	pkgver = r6157.9c8a1a59
	pkgrel = 1
	url = https://github.com/libretro/mgba
	arch = x86_64
	groups = libretro-unstable
	license = custom:MPL2
	makedepends = git
	depends = libretro-core-info
	provides = libretro-mgba
	conflicts = libretro-mgba
	source = libretro-mgba::git+https://github.com/libretro/mgba.git
	sha256sums = SKIP

pkgname = libretro-mgba-git

