pkgbase = emby-server
	pkgdesc = Bring together your videos, music, photos, and live television
	pkgver = 3.0.5724.4
	pkgrel = 1
	url = http://emby.media
	install = emby-server.install
	arch = i686
	arch = x86_64
	arch = armv6h
	license = GPL2
	depends = ffmpeg
	depends = imagemagick
	depends = libmediainfo
	depends = mono
	depends = sqlite
	replaces = mediabrowser-server
	backup = etc/conf.d/emby-server
	source = emby-server-3.0.5724.4.tar.gz::https://github.com/MediaBrowser/MediaBrowser/archive/3.0.5724.4.tar.gz
	source = emby-server
	source = emby-server.conf
	source = emby-server.service
	sha256sums = 79d0b17ca5022ad3283c1034f5a8c3bd68dedc97f2cb9507d553f5e91b1cc53e
	sha256sums = 1515d8d61ba903ed8ca73c1930fb9f14e2acaa9c2b456d85fd82c2254558eb85
	sha256sums = 064a82fb13816af5eb2a90bc8320d062ead0bf700715ee65df6afb347f890907
	sha256sums = 6992ff2537e159e6e4efd3739b95e67e2e2bfcf6d3915564617062c34d8bfa9f

pkgname = emby-server

