[Unit]
Description=Live visualization of all the pokemon in your area... and more!

[Service]
WorkingDirectory=/var/lib/pokemon-go-map
ExecStart=/usr/bin/pokemon-go-map
User=pokemon-go-map
Group=pokemon-go-map
Restart=always

[Unit]
After=network.target

[Install]
WantedBy=multi-user.target
