pkgbase = libretro-gambatte-git
	pkgdesc = Nintendo Game Boy/Game Boy Color core
	pkgver = r788.e91f844
	pkgrel = 1
	url = https://github.com/libretro/gambatte-libretro
	arch = x86_64
	groups = libretro-unstable
	license = GPL2
	makedepends = git
	depends = libretro-core-info
	provides = libretro-gambatte
	conflicts = libretro-gambatte
	source = libretro-gambatte::git+https://github.com/libretro/gambatte-libretro.git
	sha256sums = SKIP

pkgname = libretro-gambatte-git

