pkgbase = switchboard
	pkgdesc = The Pantheon Control Center
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/elementary/switchboard
	arch = i686
	arch = x86_64
	groups = pantheon
	license = GPL3
	makedepends = cmake
	makedepends = intltool
	makedepends = vala
	depends = clutter-gtk
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libgee
	depends = libgranite.so
	optdepends = switchboard-plug-about: About plug
	optdepends = switchboard-plug-applications: Applications plug
	optdepends = switchboard-plug-datetime: Date & Time plug
	optdepends = switchboard-plug-desktop: Desktop plug
	optdepends = switchboard-plug-display: Display plug
	optdepends = switchboard-plug-elementary-tweaks: Elementary Tweaks plug
	optdepends = switchboard-plug-keyboard: Keyboard plug
	optdepends = switchboard-plug-locale: Locale plug
	optdepends = switchboard-plug-network: Network plug
	optdepends = switchboard-plug-notifications: Notifications plug
	optdepends = switchboard-plug-power: Power plug
	optdepends = switchboard-plug-security-privacy: Security & Privacy plug
	provides = libswitchboard-2.0.so
	source = switchboard-2.3.0.tar.gz::https://github.com/elementary/switchboard/archive/2.3.0.tar.gz
	sha512sums = 2ce0224ba2a6c3d46738d6fa2e94d2088bbcb023ca4398b7614960835eb9c9956077a18ec08f2c6749c4786c54ad2ff97e112cfc7d7aff0db97054229da7ad6c

pkgname = switchboard

