pkgbase = pantheon-session-git
	pkgdesc = Session settings for Pantheon
	pkgver = r127.1bc99b8
	pkgrel = 2
	url = https://github.com/elementary/session-settings
	arch = any
	groups = pantheon-unstable
	license = GPL3
	makedepends = git
	depends = cerbere-git
	depends = dconf
	depends = gala-git
	depends = gconf
	depends = gnome-keyring
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = pantheon-applications-menu-git
	depends = pantheon-dpms-helper-git
	depends = plank
	depends = wingpanel-git
	depends = xdg-user-dirs-gtk
	optdepends = pantheon-default-settings-git
	source = pantheon-session::git+https://github.com/elementary/session-settings.git
	source = 0001-i-think-we-should-change-the-fallback-session.patch
	sha256sums = SKIP
	sha256sums = 104bdfecb50b8c5f875c4d2c885de5955a80902e252d4150fb77897ba4870354

pkgname = pantheon-session-git

