pkgbase = pantheon-geoclue2-agent-git
	pkgdesc = Pantheon Geoclue2 Agent
	pkgver = r190.e80756c
	pkgrel = 1
	url = https://github.com/elementary/pantheon-agent-geoclue2
	arch = x86_64
	groups = pantheon-unstable
	license = GPL3
	makedepends = git
	makedepends = intltool
	makedepends = meson
	makedepends = vala
	depends = dbus-glib
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = geoclue2
	provides = pantheon-geoclue2-agent
	conflicts = pantheon-geoclue2-agent
	source = pantheon-geoclue2-agent::git+https://github.com/elementary/pantheon-agent-geoclue2.git
	sha256sums = SKIP

pkgname = pantheon-geoclue2-agent-git

